h1 {
  font-family: $font-header;
  font-size: 60px;
}

h2 {
  font-family: $font-header;
  font-size: 48px;
}

h3 {
  font-family: $font-header;
  font-size: 32px;
}


h4 {
  font-family: $font-header;
  font-size: 28px;
}

p {
  font-family: $font-body;
}
